@import url('https://fonts.googleapis.com/css2?family=Smooch&family=Ubuntu&display=swap');

.App {
    background-color: #ead5dc;
    display: flex;
        min-height: 100vh;
        flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
    justify-content: space-between;
}


.nav {
    padding: 2rem;
}

.socials {
    cursor: pointer;
    float: right;
}

.brand {
    font-family: 'Smooch', cursive;
    font-size: 2rem;
}

.apple-image {
    width: 100%;
    max-width: 800px;
    height: auto; 
}

h1 {
    font-weight: bold;
}

h4 {
    line-height: 1.6;
}

.form {
    width: 80%;
    display: flex;
    justify-content: center;
}